<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <%- include('_header'); %>
    <h1>social media / <%= title%></h1>
    <%- include('_footer'); %>
  </body>
</html>
